.exit {
  position: absolute;
  right: 5dvw;
  top: 2dvh;
}
.exit .icon {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: var(--icon-clamp);
  min-height: var(--icon-clamp);
  background-image: url(/public/assets/exit.svg);
}

.exit:hover {
  transform: scale(1.2);
  cursor: url("/public/assets/cursors/Circle.cur"), auto;
}
