@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Poppins:wght@300;400;600&display=swap");

#main-screen {
  display: flex;
  place-content: center;
  place-items: center;
  flex-flow: column wrap;
  gap: 2vw;
}

#main-screen h1 {
  font-size: var(--icon-clamp);
  font-family: "Fredoka One", "Poppins", sans-serif;
}

#main-screen img {
  z-index: 10;
  height: var(--img-clamp);
  width: var(--img-clamp);
}

#main-screen .gameOptions {
  display: flex;
  flex-flow: row nowrap;
  gap: 5dvw;
}

#main-screen .gameOptions * {
  min-width: var(--icon-clamp);
  min-height: var(--icon-clamp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#main-screen .gameOptions *:hover {
  transform: scale(1.2);
}

#main-screen .campanha {
  background-image: url(/public/assets/campaign.svg);
}

#main-screen .jxj {
  background-image: url(/public/assets/pvp.svg);
}

#main-screen .jxb {
  background-image: url(/public/assets/player.svg);
}

#main-screen .bxb {
  background-image: url(/public/assets/match.svg);
}
