#user-buttons {
  width: 200px;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  place-content: space-evenly;
}

#user-buttons * {
  height: var(--icon-clamp);
  width: var(--icon-clamp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 1.5em;
}

#register {
  background-image: url(/public/assets/add.svg);
}

#register::before {
  content: "ALOU";
}

#login {
  background-image: url(/public/assets/login.svg);
}

#login::before {
  content: "ALOU";
  trans: -100px;
}
